.container {
  padding: 10px 16px;
  border-radius: 16px;
  border: 1px solid rgb(242, 242, 242);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  &:hover {
    background-color: rgb(249, 249, 249);
    transition: background-color 1s;
  }
}
.description {
  width: 900px;

  @media (max-width: 4590px) and (min-width: 1290px) {
    width: 500px;
  }
  @media (max-width: 1290px) and (min-width: 670px) {
    width: 400px;
  }
  @media (max-width: 670px) and (min-width: 515px) {
    width: 250px;
  }
  @media (max-width: 515px) {
    width: 80px;
  }
}

.mindecription,
.description {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: gray;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.circle {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.priority {
  gap: 10px;
  display: flex;
  font-size: 20px;
  justify-content: end;
  align-items: center;
}
