.container {
  padding: 10px;
  border-radius: 2px;
  border: 1px solid gray;
  &:hover {
    background-color: rgb(235, 235, 235);
    transition: background-color 1s;
  }
}
.description {
  width: 300px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
  @media (max-width: 600px) {
    width: 100px;
  }
}
.title {
  font-size: 24px;
  font-weight: bold;
}
.circle {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.priority {
  gap: 10px;
  display: flex;
  font-size: 20px;
  justify-content: end;
  align-items: center;
}
